.banner {
    width: 100vw;
    height: 2rem;
    margin: 0;
    background-color: #2a2a2a;
    color: orange;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    animation: grow 500ms;
}

@keyframes grow {
    from {
        height: 0;
        opacity: 0;
    }

    to {
        height: 2rem;
        opacity: 1;
    }
}

.hide {
    height: 0;
    opacity: 0;
    animation: hide 1s;
    overflow: hidden;
}

.hide p {
    animation: hide_text 1s;
}

@keyframes hide_text {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes hide {
    0% {
        width: 100vw;
        height: 2rem;
        opacity: 1;
        margin: 0 auto;
    }

    50% {
        height: 2rem;
    }

    70% {
        width: 0;
        margin: 0 auto;
    }

    99% {
        height: 0;
        opacity: 0;
    }

    100% {
        height: 0;
        opacity: 0;
        display: none;
    }
}

.banner p {
    margin: auto auto;
    width: 100vw;
    text-align: center;
    line-height: 2rem;
    white-space: none;
    height: 2rem;
    vertical-align: middle;
    font-weight: bold;
    overflow: hidden;
}

.banner svg {
    margin: auto 1.5rem auto auto;
}

.hidden {
    display: none;
}