.banner {
    display: none;
    z-index: 13;
    width: 100vw;
    height: 2rem;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4a4a4a;
    color: orange;
}

.banner p {
    margin: auto auto;
    width: fit-content;
    line-height: 2rem;
    vertical-align: middle;
    font-weight: bold;
}