.footer {
    width: 100%;
    background-color: #3d3c3d;
    display: flex;
    flex-direction: column;
    color: grey;
    text-align: center;
    
}

.footer p {
    max-width: 910px;
    margin: 0.5rem auto;
}

.footer span {
    max-width: 500px;
    margin: 0.5rem auto;
}