.container {
  width: auto;
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25rem auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "sidenav content";
  padding: 0.5rem;
}

.content {
  grid-area: content;
  display: grid;
  border-radius: 5px;
  padding: 0.5rem;
  background: #2b2b2b;
  color: white;
}

table {
  background-color: #222;
  border-radius: 5px;
  border: 1px solid grey;
}

table > thead {
  background-color: black;
  border: none;
}
table > tbody {
  border: none;
}

table > thead > tr > td,table > tbody > tr > td {
  padding: 5px 10px;
  border: none;
}

table > thead > tr > td:first-child {
  border-radius: 5px 0 0 0;
  border: none;
}

table > thead > tr > td:last-child {
  border-radius: 0 5px 0 0;
  border: none;
}

table > tbody > tr:nth-child(odd) {
  background-color: #111;
  border: none;
}

table > tbody > tr:nth-child(even) {
  background-color: #222;
  border: none;
}



table > tbody > tr:last-child > td:first-child {
  border-radius: 0 0 0 5px;
  border: none;
}

table > tbody > tr:last-child > td:last-child {
  border-radius: 0 0 5px 0;
  border: none;
}