.container {
    width: auto;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 25rem auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "sidenav profile"
        "sidenav content";
    padding: 0.5rem;
}

.sidenav {
    grid-area: sidenav;
    margin-right: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
    background: #2b2b2b;
    color: white;
}

.profile {
    grid-area: profile;
    display: grid;
    grid-template-areas:
        "pfp stats"
        "settings stats";
    border-radius: 5px;
    padding: 0.5rem;
    background: #2b2b2b;
    color: white;
}

.profileImg {
    grid-area: pfp;
}

.profileSettings {
    grid-area: settings;
}

.profileStatistics {
    grid-area: stats;
    max-width: 940px;
}

.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 940px;
}

.chart {
    width: 170px;
    height: 170px;
    background: #1a1a1a;
    border-radius: 5px;
    border: 1px solid #ffa500;
    margin: 0.5rem;
}

.chart h4 {
    display: inline;
    position: relative;
    width: fit-content;
    top: 0.5rem;
    left: 0.5rem;
    margin: 0;
    z-index: 2;
}

.chart>div>p {
    margin: -20px 0 0;
    text-align: center;
    line-height: 170px;
    vertical-align: middle;
}

.chart>div>svg {
    margin: 20px 40px 40px;
}

.chart>div>h1 {
    font-size: 2em;
    margin: -20px 0 0;
    text-align: center;
    line-height: 170px;
    vertical-align: middle;
}

.chart .chartValue {
    position: relative;
    bottom: 2.5rem;
    left: 0;
    text-align: right;
    width: auto;
    margin-right: 0.5rem;
}

.watchHistory {
    grid-area: content;
    margin: 0.5rem 0 0 0;
    border-radius: 5px;
    padding: 0.5rem;
    background: #2b2b2b;
    color: white;
}

.watchHistoryVideo {
    border-radius: 5px;
    margin: 0.5rem;
    background: #1a1a1a;
    color: white;
    display: grid;
    grid-template-columns: 210px auto;
}

.watchHistoryVideo>img {
    width: 190px;
    aspect-ratio: 16/9;
    margin: 0.5rem 20px 0.5rem 0.5rem;
    object-fit: cover;
    border-radius: 5px;
}

.watchHistoryVideo>div {
    width: auto;
    margin: 0.5rem 0;
}


.watchHistoryVideo>div h3 {
    width: auto;
    margin: 0 auto 0.5rem 0;
}

.watchHistoryVideo>div h4 {
    width: auto;
    margin: 0 auto 0.5rem 0;
}

.watchHistoryVideo>div span {
    width: auto;
    margin: 0 auto 0.5rem 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    font-size: medium;
    border: 1px #ffa500 solid;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    width: 300px;
    top: 100%;
    left: 0%;
    margin-left: -140px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 200ms;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: 200ms;
}

.tooltip svg {
    margin: 1rem 0.5rem;
    line-height: 3rem;
}

.textEditSetting {
    margin: auto 0.5rem 0 -0.25rem;
}

.textEditSetting,
.textEditBox {
    width: auto;
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.textEditBox h4 {
    width: 90px;
    margin: auto 0.5rem;
}

.textEditBox p,
.textEditBox input {
    margin: auto 0.5rem;
}

.setting {
    display: flex;
}