.warningModal {
    width: 500px;
    background: #511;
    border-radius: 5px;
    margin: 0.5rem auto;
    padding: 0.5rem;
    color: lightgrey;
}

.warningModal h3 {
    color: white;
    margin: 0.5rem auto;
    width: 100%;
    text-align: center;
}

.warningModal h1 {
    margin: 0.5rem auto 0.5rem;
    text-align: center;
}

.warningModal p {
    text-align: justify;
}

.warningModal div {
    margin: 0.5rem auto;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.warningModal div a {
    background-color: #1a1;
    color: black;
}

.warningModal div button {
    background-color: #aa1;
    color: black;
}

.warningModal div a,
.warningModal div button {
    border-radius: 5px;
    padding: 5px 10px;
    font-size: medium;
    border: 1px solid black;
    text-decoration: none;
    font-weight: bold;
}

.container {
    background: #1a1a1a;
    color: pink;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

.viewport {
    display: grid;
    grid-template-columns: auto 40rem;
    grid-template-areas:
        "title groups"
        "video groups"
        "cast groups";
    margin-top: 0rem;
    padding-bottom: 5vh;
}

.videoTitleBar {
    grid-area: title;
    display: flex;
    flex-direction: row;
    width: auto;
    min-height: 5rem;
    padding: 0.5rem 0.25rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 5px;
    background-color: #2b2b2b;
    color: pink;
    justify-content: space-between;
}

.videoTitleBar h2 {
    margin: 0.25rem 0.5rem -0.25rem;
}

.videoTitleBar h4 {
    font-weight: normal;
    margin: 0.25rem 0.5rem 0;
}

.groups {
    grid-area: groups;
    /* display: flex; */
    /* flex-direction: column; */
    width: 37rem;
    height: auto;
    max-height: 90vh;
    margin: 0.5rem auto;
    padding: 0.5rem;
    /* border-radius: 5px; */
    overflow-x: hidden;
    overflow-y: auto;
}

.groups>h3 {
    background: #111;
    padding: 5px 10px;
    border-radius: 5px;
    margin: auto;
    width: fit-content;
}

.group {
    display: inline-flex;
    flex-direction: column;
    height: 40px;
    max-height: fit-content;
    overflow: hidden;
    width: 34.5rem;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    padding: 0.5rem;
    margin: -0.5rem auto 1rem;
    transition: 200ms;
}

.group h3 {
    margin: 0.5rem auto 0.5rem 0.5rem;
}

.group .topics {
    max-height: fit-content;
    height: 0;
    transition: 200ms;
    margin: 0
}

.groupOpen {
    height: fit-content;
    transition: 200ms;
}

.groupOpen .topics {
    height: fit-content;
    transition: 200ms;
    opacity: 1;
}

.topics {
    opacity: 0;
    max-height: fit-content;
    width: 33.25rem;
    margin: 0 auto 0.5rem;
}


.topic {
    border: 1px solid #3b3b3b;
    display: grid;
    height: 110px;
    width: 31.25rem;
    grid-template-areas:
        "title title"
        ". timestamp";
    margin: 10px auto;
    padding: 0.5rem;
    border-radius: 5px;
}

.topicTitle {
    grid-area: title;
    width: 95%;
    margin: 0 auto;
    height: 3rem;
    overflow-wrap: normal;
    overflow: hidden;
}

.topicDetails {
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: auto;
    margin: 0.5rem;
}

.topicTimestamp {
    grid-area: timestamp;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    grid-area: timestamp;
    padding: 2px 5px;
    height: 1.5rem;
    line-height: 1.5rem;
    width: fit-content;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.topicContributor {
    grid-area: contributor;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    padding: 2px 5px;
    height: 1.5rem;
    line-height: 1.5rem;
    width: fit-content;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.cast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.cast button {
    display: block;
    height: fit-content;
}

.castMember {
    margin: 0.5rem 0;
    background-color: #1a1a1a;
    min-width: 350px;
    width: 30%;
    height: fit-content;
    display: grid;
    border-radius: 5px;
    border: 1px solid #a1a1a1;
    grid-template-columns: 5rem auto;
}

.castMember img {
    margin: auto 0.5rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.castMember span h3 {
    margin: 1rem auto 0 0;
    text-align: left;
}

.castMember span p {
    color: grey;
    margin: 0 auto 0.5rem 0;
    text-align: left;
}

.castMember h4 {
    color: pink;
    margin: 0.5rem auto 1rem 0;
    text-align: left;
}


.group input {
    color: white;
    padding: 2px;
    /* margin-bottom: -0.5rem; */
    border: 1px #1f1f1f solid;
    background-color: #1a1a1a;
    border-radius: 5px;
    transition: 200ms;
}

.topicButtons {
    width: fit-content;
    display: flex;
    margin: 0.25rem auto;
}

.topicButton {
    width: 6rem;
    margin: 0.25rem 0.25rem;
    padding: 2px;
    color: white;
    border: 1px #1f1f1f solid;
    background-color: #1a1a1a;
    border-radius: 5px;
    transition: 200ms;
}

.timestampEditor {
    grid-area: timestamp;
    display: flex;
    margin: 0.5rem 0.5rem 0.5rem auto;
}

.timestampEditor input[type=number] {
    width: 30px;
    text-align: center;
    color: white;
    border: 1px #1f1f1f solid;
    background-color: #1a1a1a;
    border-radius: 5px;
    transition: 200ms;
    /* height: 10px; */
}

.personEditorSearch,
.topicEditor {
    z-index: 30;
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: #111111f0;
    opacity: 1;
    transition: 200ms;
}

.personEditorInner,
.topicEditorInner {
    background-color: #2b2b2b;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 5px;
    width: 40rem;
    max-height: 90vh;
    overflow: auto;
    text-align: center;
}



.editorHorizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

.editorHorizontal input[type=number] {
    width: 40px;
}

.editorHorizontal select {
    min-width: 100px;
    width: fit-content;
}

.personEditorInner h1 {
    margin: -1.5rem auto 0.5rem;
}

.editorClose {
    position: relative;
    top: 0rem;
    left: 18.5rem;
    height: 25px;
    text-align: center;
    color: white;
    border: 1px #1f1f1f solid;
    background-color: #1a1a1a;
    border-radius: 5px;
    transition: 200ms;
}

.hoverEffects:hover,
.hoverEffects:active,
.hoverEffects:focus {
    color: #ffa500;
    border: 1px #ffa500 solid;
    transition: 200ms;
}



.searchBar {
    color: white;
    border: 1px #1f1f1f solid;
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    transition: 200ms;
}

.hidden {
    opacity: 0;
    width: 0%;
    max-width: 0px !important;
    max-height: 0px !important;
    display: none;
    transition: 200ms;
    background: #11111100;
}

.editorSearchContainer {
    max-height: 50vh;
    overflow: auto;
}

.castSearchResult {
    margin: 0.5rem;
    background-color: #1a1a1a;
    width: auto;
    height: fit-content;
    display: grid;
    border-radius: 5px;
    grid-template-columns: 5rem auto;
}

.castSearchResult img {
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;
}

.castSearchResult span h3 {
    margin: 1rem auto 0 0;
    text-align: left;
}

.castSearchResult span p {
    color: grey;
    margin: 0 auto 0.5rem 0;
    text-align: left;
}

.castSearchResult h4 {
    margin: 0.5rem auto 1rem 0;
    text-align: left;
}

.editorSave {
    height: auto;
    text-align: center;
    margin: 0.5rem;
    padding: 5px 10px;
    color: white;
    border: 1px #1f1f1f solid;
    background-color: #1a1a1a;
    border-radius: 5px;
    transition: 200ms;
}

.inclusive {
    color: #ffa500;
    border: 1px #ffa500 solid;
    transition: 200ms;
}

.activeGroup {
    background: #303030;
    /* color: #ffa500; */
    border: 1px #ffa500 solid;
    transition: 1000ms;
}

.activeTopic {
    background: #2b2b2b;
    color: #ffa500;
    border: 1px #ffa500 solid;
    transition: 1000ms;
}

.error {
    margin: auto 0;
    width: 100vw;
    height: auto;
    opacity: 0;
    transition: 200ms;
    color: white;
}

.error h3 {
    margin: 0.5rem auto;
    width: fit-content;
    color: red;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-shadow: black 1px 1px 2px;
}

.error p {
    margin: 0.5rem auto;
    width: fit-content;
}

.video {
    grid-area: video;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 0.5rem;
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}

.video iframe,
.video .transcript {
    width: 100%;
    height: 100%;
    /* margin: 0.5rem; */
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.transcript {
    pointer-events: none;
    z-index: 2;
    overflow: hidden;
    display: flex;
    align-content: flex-end;
}

.transcriptInner {
    pointer-events: none;
    margin: auto 0 0;
    padding: 0.5rem 0.5rem 0;
    color: pink;
    height: fit-content;
    width: 100%;
    /* background: #0000008a; */
    border-radius: 0 0 5px 5px;
    transition: 200ms;
}

.transcriptInner a {
    color: pink;
}

.transcriptInner div {
    background-color: #1a1a1af0;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 5px 10px;
    flex-direction: row;
    display: none;
    opacity: 0.75;
}

.transcriptInner div img {
    margin: auto 0.5rem;
    object-fit: cover;
    width: 28px;
    opacity: 1;
    height: 28px;
    border-radius: 50%;
}

.transcriptInner div p {
    margin: auto 0.5rem auto 0;
}

.transcriptInner .highlightedSpan img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.highlightedSpan {
    height: fit-content !important;
    margin: 0 0.5rem;
    opacity: 1 !important;
    border: 1px solid #ffa500 !important;
    display: flex !important;
}

.noDisplay {
    display: none !important;
}

.hiddenSpan {
    /* min-height: 0px !important; */
    height: 0px !important;
    opacity: 0 !important;
}



.castMember h4 a,
.castMember div a {
    color: white;
    text-decoration: none;
}

.castMember>div>div {
    display: flex;
    line-height: 30px;
    margin: 2.5px 0;
    vertical-align: middle;
}

.castMember div a {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}

.castMember div img,
.castMember div svg {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 2.5px 0;
}

.castSearchResult h4 a,
.castSearchResult div a {
    color: white;
    text-decoration: none;
}

.castSearchResult>div>div {
    display: flex;
    line-height: 30px;
    margin: 2.5px 0;
    vertical-align: middle;
}

.castSearchResult div a {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
}

.castSearchResult div img,
.castSearchResult div svg {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 2.5px 0;
}

.buttonContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.watchButton {
    display: block;
    width: 185px;
    height: 20px;
    margin: 2px 0.5rem;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 200ms;
    border: 1px solid black !important;
}

.watchButton:hover {
    transition: 200ms;
    border: 1px solid #ffa500 !important;
}

.watchButton svg {
    margin: 1px 10px 2px 5px;
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 1700px) {
    .viewport {
        grid-template-columns: 40rem auto;
        grid-template-areas:
            "title title"
            "video video"
            "groups cast";
        margin-right: 0.5rem;
    }

    .video {
        height: auto;
        width: 80vw;
        aspect-ratio: 16/9;
        margin: auto;
    }

    .groups {
        margin: 0.5rem;
    }

    .cast {
        margin-right: 0.5rem;
        padding: 0;
        display: grid;
        grid-template-columns: 48% 48%;
        align-content: first baseline;
    }

    .cast .castMember {
        margin: 0.5rem;
        width: 100%;

    }
}

@media screen and (max-width: 1450px) {
    .cast {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .viewport {
        grid-template-columns: auto;
        grid-template-areas:
            "title"
            "video"
            "groups"
            "cast";
        margin-right: 0.5rem;
    }

    .groups {
        margin: 0.5rem auto;
    }


    .cast {
        margin-right: 0.5rem;
        padding: 0;
        display: grid;
        grid-template-columns: 48% 48%;
        align-content: first baseline;
    }
}

@media screen and (max-width: 800px) {
    .cast {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 650px) {
    .container {
        opacity: 0;
        max-height: 0;
        height: 0;
        min-height: 0;
        transition: 200ms;
    }

    .error {
        opacity: 1;
        transition: 200ms;
    }
}